body {
  font-size: bold;
  width:100%;
}
.select-div {
  width: 300px;
  /* margin: auto; */
}

#my-header-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://user-images.githubusercontent.com/32476235/199532381-4fb63aed-883d-4c0b-b9b0-b983fd103dfc.png");
  /* height: 50%; */
  width: 100%;
  height: auto;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

            <!-- https://user-images.githubusercontent.com/32476235/199532381-4fb63aed-883d-4c0b-b9b0-b983fd103dfc.png -->
